{% extends 'base.html.twig' %}

{% block title %}À propos
{% endblock %}

{% block body %}
	<h1>A propos de la ferme
	</h1>

	<p>
		La ferme de Monsieur Martin est une exploitation familiale
						        engagée dans une agriculture biologique, locale et responsable.
	</p>

	<p>
		Depuis plusieurs années, nous privilégions le respect de la nature,
						        le bien-être animal et la qualité des produits proposés.
	</p>

	<p>
		Notre objectif est simple : proposer des produits sains,
						        tout en préservant l’environnement et le savoir-faire agricole.
	</p>
{% endblock %}
