{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div style="padding: 40px;">
		<h1>Bienvenue sur le blog de la ferme bio
		</h1>

		<p>
			Découvrez nos articles BIO
		</p>

		<p>
			<a href="{{ path('app_article') }}">
				👉 Voir les articles
			</a>
		</p>
	</div>
{% endblock %}
